<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421172988219-b8ssp14d6bisa26dtofg1mka8dn1vo6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421172988219-b8ssp14d6bisa26dtofg1mka8dn1vo6l</string>
	<key>API_KEY</key>
	<string>AIzaSyBgllys4p5w8c0xqYPP29LgzY1--oq6rWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>421172988219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pelin.FaceIDLogin</string>
	<key>PROJECT_ID</key>
	<string>loginfaceid-75824</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfaceid-75824.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421172988219:ios:4b7de55072280b63010f1e</string>
</dict>
</plist>